{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript">
	$(function() { alert("rout"); });
</script>
{% endblock %}

{% block content %}
	<h1>logos</h1>
	<table>
	{% for line in lines %}
		<tr>
		{% for logo in line %}
		<td><img src="/logos/{{logo.key}}" /><br/>{{logo.comment}}<br/>{{logo.date}}</td>
		{% endfor %}
		</tr>
	{% endfor %}
        </table>
        <h1>comments</h1>
        <ul>
        {% for entry in entries %}
        <li>{{entry.content}}</li>
        {% endfor %}
        </ul>
        <form action="/sign" method="post">
            <div><textarea name="content" rows="3" cols="60"></textarea></div>
            <div><input type="submit" value="sign"></div>
        </form>
	<p>
		<a class="button" href="/clear">clear entries</a>
		<a class="button" href="/clear-cache">clear cache</a>
	</p>
	{% if stats %}
	<p class="stats">
	hits: {{stats.hits}}<br/>
	misses: {{stats.misses}}<br/>
	bytes_hits: {{stats.byte_hits}}<br/>
	items: {{stats.items}}<br/>
	bytes: {{stats.bytes}}<br/>
	oldest_item_age: {{stats.oldest_item_age}}<br/>
	</p>
	{% endif %}
{% endblock %}

