{% extends "base.html" %}

{% block title %} - job{% if title %} - {{title}}{% endif %}{% endblock %} 

{% block extrahead %}
<script type="text/javascript">
	$(function() {
        $('#items').accordion({
            autoHeight: false
        });
	});
</script>
<style type="text/css">
    /*
    .ok   { background-color: green; }
	.err  { background-color: red; }
	.warn { background-color: orange; }
    */
</style>
{% endblock %}

{% block content %}
	<h1>{{title}} report:</h1>
	<div id="items">
	{% for item in items %}
		<h3><a href="#" class="{{item.status}}">{{item.title}}</a></h3>
		<div>{{item.data}}</div>
	{% endfor %}
	</div>
	<p>{{debug}}</p>
{% endblock %}
